.your-space h1{
    font-family: 'DM Serif Display', sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:#727C88;
}
.your-space ul li{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color:#727C88;
}